[Unit]
Description={{DESC}}
Documentation=https://kaos.sh/{{SHORT_NAME}}
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=simple
User={{SHORT_NAME}}
Group={{SHORT_NAME}}
EnvironmentFile=/etc/sysconfig/{{SHORT_NAME}}
ExecStart=/usr/bin/{{SHORT_NAME}} -c /etc/{{SHORT_NAME}}.knf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
